body {
  background-color: #fafafa;
  margin: 0px;
}
#container {
  width: 100%;
}
.headline {
  font-size: 2.5em;
  text-align: center;
  background-color: #f1e5e6;
  padding: 10px;
}
.side-content {
  float: right;
  width: 30%;
  background-color: #d4ccc5;
  padding: 10px;
}
#coffe-article {
  width: 68%;
  padding: 1%;
}

/* Using Typographical Elements */
.headline::first-letter {
  color: #8b4513;
  font-size: 1.5em;
}
.intro::first-line {
  background-color: #90d785;
  font-weight: bolder;
  padding: 5px;
}
.intro::first-letter {
  color: #8b4513;
  font-size: 2.5em;
}
.content::first-line {
  color: #2fef12;
}
