body {
  background-color: #f7eee5;
  margin: 0;
  padding: 0;
}
#recipe-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  /* rgba = red green blue apha(Opacity) */
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}
.title {
  text-align: center;
  font-size: 32px;
  color: #704214;
  margin-bottom: 20px;
}
.image img {
  border-radius: 10px;
  margin-bottom: 20px;
  height: 100px;
  width: 100%;
  /* use object-fit: cover to correct the image structure */
  object-fit: cover;
}
.time-container {
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}
.ingredients,
.steps-container {
  margin-bottom: 20px;
}
h3 {
  color: #704214;
  font-size: 24px;
}
.note {
  text-align: center;
  padding: 10px;
  background-color: #eaeaea;
  border-radius: 10px;
  margin-top: 10px;
}

/* using Content Insertion */
.title::before {
  content: "🐶";
}
.title::after {
  content: "🥣";
}
.ingredients li::marker {
  content: "🍲";
}
.note::before {
  content: "🍲";
}
